header {
    background: linear-gradient(#00000069, #0000005b), url(B9A1-New-Year-New-Mission/resources/Banner\ Image.png);
    height: 600px;
    background-repeat: no-repeat;
    border-radius: 10px;
    text-align: center;
}

body {
    width: 1320px;
    font-family: sans-serif;
    margin: auto;
}

header h3 {
    color: white;
    font-size: 35px;
    font-weight: 500;
    padding-top: 160px;
    margin-bottom: -40px;
}

header h1 {
    color: white;
    font-size: 80px;
    font-weight: 700px;
}

#celebration {
    margin-top: -40px;
}

.discount-section {
    text-align: center;
    color: red;
    border-radius: 10px;
}

.discount-section-title {
    font-weight: 800;
}

#discount {
    font-size: 100px;
    padding-bottom: 0px;
}

#holiday {
    font-size: 25px;
    margin-top: -30px;
}

#catagories {
    font-size: 50px;
    margin-top: 0px;
}

#party-section {
    background-image: linear-gradient(#00000070, #0000005e), url("B9A1-New-Year-New-Mission/resources/Vectorrr.png");
    height: 600px;
    background-repeat: no-repeat;
    display: flex;
    margin-top: 100px;
    border-radius: 10px;
}

#party-section-title {
    color: #FFFFFF;
    font-weight: 800;
    margin: 90px;
}

#image-2024 {
    margin: 70px;
}

#party-section-1st-line {
    font-size: 80px;
    margin-bottom: -70px;
}

#party-section-2nd-line {
    font-size: 80px;
    margin-bottom: 10px;
}

#party-section-description {
    padding-bottom: ;
}

#joining-btn {
    background: transparent;
    border: 0px;
    color: #FFFFFF;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 30px;
}

#event {
    background: linear-gradient(#ff00001a,white), #ffcece;
    height: 482px;
    box-shadow: 50%;
    text-align: center;
    font-size: 20px;
    margin-top: 100px;
    border-radius: 10px;
}

.event-schedule {
    color: red;
    font-size: 40px;

}

#place {
    margin-top: 80px;
    padding-top: 120px;
}

#date {}

#time {}

#join-button {
    background-color: red;
    color: white;
    font-size: 20px;
    border: 0px;
    border-radius: 10px;
    height: 60px;
    width: 140px;
}

#new-year-offers {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

#best-offer {
    width: 440px;
    padding-top: 50px;
    padding-right: 40px;
}

.offer-2024 {
    color: red;
    font-size: 35px;
}

#soon {
    font-size: 60px;
}

#offer-section-image {
    width: 440px;
}

#offer-section-image img {
    border: 15px solid;
    border-color: red;
    border-radius: 50%;
    padding: 30px;
}

#offer {
    width: 440px;
    padding-top: 50px;
    padding-left: 40px;
}

#holidays-sale-section {
    margin-top: 100px;
}

#holidays-sale-section h3 {
    text-align: center;
    font-size: 25px;
}

#holidays-sale-section h1 {
    text-align: center;
    font-size: 75px;
    font-weight: 700;
    margin-top: -15px;
}

#holidays {
    color: red;
}

#percentage {
    font-family: 'Merriweather';
}

#holidays-sale-section p {
    text-align: center;
    font-size: 20px;
    width: 1000px;
    padding-left: 160px;
    margin-top: -30px;
}

#girl {
    margin-bottom: 225px;
    padding-left: 89px;
}

#holidays-sale-section div {
    margin-top: 100px;
    background: url(B9A1-New-Year-New-Mission/resources/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    height: 666px;
}

#discount-image {
    position: absolute;
    margin-left: -60px;
    padding-top: 70px;
}

#portfolio-section {
    margin-top: 100px;
}

#portfolio-section h3 {
    color: red;
    font-size: 25px;
}

#portfolio-section h1 {
    font-size: 50px;
}

#portfolio-section p {
    font-size: 20px;
    width: 66%;
}

#image-container 

#image-container-1 {
    display: flex;
    gap: 30px;
    padding-bottom: 30px;
}

#image-container-2 {
    display: flex;
    gap: 30px;
}